<html>
	<body>
		<h1>Name: <%= @name %></h1>
		<h1>Contact Number: <%= @number %></h1>
		<h1>Reserve starting from: <%= @startdate %></h1>
		<h1>Until: <%= @until %></h1>
		<h1>For rooms: <%= @rooms %></h1>
		<h1>With the quantity of: <%= @quantity %></h1>
	</body>
</html>